# ignore everything in the folder
/*

# allow git to enter the scripts folder
!scripts/
!logs/
!figures/

#ignore everything inside scripts by default
scripts/*

#unignore scripts for github
!scripts/test_model1_baseline.py
!scripts/test_model2.py
!scripts/test_model3.py
!scripts/train_model1_baseline.py
!scripts/train_model2_fixed_dataleakage.py
!scripts/train_model3_diff_windowing.py
!scripts/visualise_results.ipynb
!scripts/preprocessing_multiwindow.py
!scripts/train_model4_pretrained2d_fm.py
!scripts/train_model5_multiwindow_3d.py
!scripts/test_model4_pretrained2d_fm.py
!scripts/test_model5_multiwindow_3d.py
!requirements.txt
!VLM3DChallenge_final_report.pdf


#unignore this .gitignore file
!.gitignore