# ignore everything in the folder
/*

# allow git to enter the coding folder
!coding/
!Logs/
!Figures/

#ignore everything inside coding by default
coding/*

#unignore scripts for github
!coding/test_model1_baseline.py
!coding/test_model2.py
!coding/test_model3.py
!coding/train_model1_baseline.py
!coding/train_model2_fixed_dataleakage.py
!coding/train_model3_diff_windowing.py
!coding/visualise_results.ipynb

#unignore this .gitignore file
!.gitignore